.main-h1{
    border: 3px solid royalblue;
    margin: 0px 440px;
    padding: 10px;
    color: lightcoral;
  }
.text-h3 {
    color: lightcoral;
}
hr{
    border: 2px solid black;
    border-radius: 15px;
}
p{
    font-size: 15px;
}
.background {
    background-image: url('../img/img-1.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    height: 100px;
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
}

.background-img {
    margin-top: 20px;
    background-image: url('../img/img-1.jpeg');
    background-repeat: repeat;
    background-position: right bottom;
    color: #fff;
    height: 100px;
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
}